@import "../../../styles/abstracts/variables";

.site-logo {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin-right: 10px;
  fill: color(textLight);
  border-left: 1px solid color(textLight);
  //   border-bottom: 1px solid color(textLight);
  //   border-right: 1px solid color(textLight);
  border-radius: 50%;
}

.brand-text {
  font-family: "Nunito Sans";
  position: relative;
  margin-right: 64px;
  @media (max-width: $mobileNavWidth) {
    display: none;
  }
}

.app-version {
  position: absolute;
  bottom: -12px;
  right: 0px;
}
