@import "../../../styles/abstracts/variables";

.game-room-menu__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: breakpoint(small)) {
    overflow: auto;
    width: 100% !important;
    border-right: 0px !important;
  }
}

.game-room-menu__buttons {
  width: 100%;
  justify-content: space-between;
  display: flex;
  @media only screen and (max-width: breakpoint(small)) {
    flex-direction: column-reverse;
  }
}

.game-room-menu__select-input {
  justify-self: flex-start;
}

.game-room-menu__rounds-required-to-win-display {
  border: 0px;
  cursor: auto;
}

.game-room-menu__ready-button {
  min-height: height(3);
  height: height(3);
  margin: auto 0 auto auto;
  @media only screen and (max-width: breakpoint(small)) {
    margin: spacing(1) auto spacing(1) 0px;
  }
}

.game-room-menu__players {
  display: flex;
  justify-content: center;
  width: 100%;
  @media only screen and (max-width: breakpoint(medium)) {
    flex-direction: column;
    align-items: center;
  }
}

.game-room-menu__player-with-ready-status {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-room-menu__player {
  font-size: fontSize(3);
}

.game-room-menu__vs {
  font-size: fontSize(3);
}

.game-room-menu__right {
  padding-top: spacing(5);
  font-size: fontSize(3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (max-width: breakpoint(small)) {
    display: none;
  }
}

.game-room-menu__right-main-text {
  span {
    margin-top: spacing(2);
  }
  display: flex;
  flex-direction: column;
}

.game-room-menu__right-info-text {
  font-size: fontSize(2);
  text-align: left;
}
