@import "../../../styles/abstracts/variables";

.game-list-buttons__refresh {
  width: height(3);
  padding: spacing(0);
  margin-left: auto;
}

.game-list-buttons__refresh-icon {
  height: 100%;
  width: 100%;
  fill: color(textPrimary);
}

.game-list-dropdown {
  padding: spacing(2);
  padding-right: calc(
    spacing(2) - $focusOutlineWidth
  ); // otherwise the button focus highlight is hidden by the overflow:auto/scroll property of the "table" below
  display: flex;
  flex-direction: column;
}

.game-list-dropdown--scrollbar-present {
  padding-right: spacing(2);
}

.game-list-dropdown__headers {
  display: flex;
  margin-bottom: calc(
    spacing(2) - $focusOutlineWidth
  ); // otherwise the button focus highlight is hidden by the overflow:auto/scroll property of the "table" below
  display: flex;
  vertical-align: bottom;
  h3 {
    font-size: fontSize(3);
    font-weight: lighter;
  }
}

.game-list-dropdown__game-name-header {
  padding-left: 0px !important;
}

.game-list-dropdown__empty-header-spacer {
  width: calc(spacing(6) + $focusOutlineWidth);
  cursor: default;
  border: 0px;
  height: 1px;
}

.game-list-dropdown__empty-header-spacer--scrollbar-present {
  width: calc(spacing(6) + spacing(2) + $focusOutlineWidth);
}

.game-list-dropdown__games {
  width: 100%;
  padding-top: $focusOutlineWidth;
  padding-right: $focusOutlineWidth;
  overflow-y: auto;
}

.game-list-dropdown__game-row {
  display: flex;
  border: 1px solid color(textPrimary);
  justify-content: space-between;
  margin-bottom: spacing(2);
  align-items: center;
}

.game-list-dropdown__games--scrollbar-padding {
  padding-right: spacing(2);
}

.game-list-dropdown__game-name {
  width: 42%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: spacing(2);
}

.game-list-dropdown__number-of-players {
  width: 48%;
  text-align: center;
}

.game-list-dropdown__button {
  width: spacing(6);
  border: none;
  border-left: 1px solid color(textPrimary);
  &:disabled {
    cursor: default;
    opacity: 100%;
  }
}
