@import "../../../styles/abstracts/variables";

.lobby-menus__buttons {
  border-bottom: 1px solid color(textPrimary);
  display: flex;
  list-style: none;
  padding: spacing(2);
  height: height(4);
}

.lobby-menus__button {
  min-width: spacing(6);
  margin-right: spacing(1);
}

.lobby-menus__menu {
  height: height(6);
  height: calc(324);
  padding: spacing(2);
  border-bottom: 1px solid color(textPrimary);
}
