@import "../../../styles/abstracts/variables";

.lobby-menus__top-buttons {
  border-bottom: 1px solid color(textPrimary);
  display: flex;
  list-style: none;
  padding: spacing(2);
  height: height(4);
}

.lobby-menus__top-button {
  min-width: spacing(6);
  margin-right: spacing(1);
}

.lobby-menu {
  height: height(6);
  height: calc(324);
  border-bottom: 1px solid color(textPrimary);
  display: flex;
}

.lobby-menu__left {
  width: 62%;
  border-right: 1px solid color(textPrimary);
  padding: spacing(2);
}
.lobby-menu__right {
  flex: 1;
  padding: spacing(2);
}

.lobby-menu__header {
  font-size: fontSize(3);
}
