## top level of monorepo
**/node_modules
**/dist
**/yarn-error.log

*.css
!main.css
*.css.map

.tsbuildinfo


**/*.env
**/*.env*.local
cypress.env.json
*.secrets
**/*.secrets

# mac computers add this to all their folders
**/.DS_Store