@import "../abstracts/variables";

.button {
  height: height(3);
  padding-left: spacing(3);
  padding-right: spacing(3);
  border: 1px solid color(textPrimary);
  font-size: fontSize(2);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    opacity: 50%;
    cursor: progress;
  }
}

.button--accent {
  background-color: color(dark);
}

.button--danger {
  background-color: color(middleRed);
  color: color(textBright);
}
