@import "../abstracts/variables";

.input {
  height: height(3);
  font-size: fontSize(2);
  border: 1px solid color(textPrimary);
  padding-left: spacing(2);
  &::placeholder {
    color: color(textFaded);
  }
}

.input--transparent {
  background-color: transparent;
}
