@import "./variables";

.alerts-holder {
  position: fixed;
  top: 100px;
}
.alert {
  height: 36px;
  margin-left: 30px;
  margin-bottom: 20px;
  line-height: 36px;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  color: color(textLighta);
  opacity: 0;
  transition: 0.3s ease-out;
}
.alert-animate {
  margin-left: 100px;
  opacity: 1;
  transition: 0.3s;
}
.alert-danger {
  background-color: color(danger);
}
.alert-success {
  background-color: color(buttonPrimary);
}
