@import "variables";
$preGameRoomHeight: 170px;
.game-shell {
  height: 95%;
  width: 95%;
  height: calc(100% - 60px);
  margin: 0px auto;
}
.game-lobby {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 200px) 200px;
  border: 1px solid color(textPrimary);
  grid-template-rows: 60px calc(100% - 60px);
}
.game-lobby-main-window {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  width: 100%;
}
.pre-game-room {
  height: $preGameRoomHeight;
  display: flex;
  border-right: 1px solid color(textPrimary);
  transition: 0.3s;
  overflow: hidden;
}
.pre-game-room-player-list {
  margin-bottom: 10px;
}
.game-lobby-top-buttons-chat {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid color(textPrimary);
  border-right: 1px solid color(textPrimary);
}
.game-lobby-top-buttons-chat ul {
  transition: 0.3s;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.game-lobby-top-buttons-chat ul li {
  margin-right: 15px;
}
.game-lobby-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid color(textPrimary);
}
.game-lobby-chat-stream-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: end;
  height: 100%;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid color(textPrimary);
  transition: 0.3s;
}
.game-lobby-chat-stream-holder.game-setup {
  border-top: 1px solid color(textPrimary);
  height: calc(100% - #{$preGameRoomHeight});
}
.game-lobby-chat-stream {
  height: 100%;
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.game-lobby-players-list {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: calc(100% + 1px);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
