@import "./variables";

.login-frame {
  width: 100%;
  max-width: 448px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: color(dark);
  padding: 38px;
}
.login-brand-header,
.login-header {
  display: block;
  text-align: center;
}
.login-brand-header {
  color: color(textLight);
  margin-bottom: 14px;
  font-size: 24px;
}
.login-header {
  margin-bottom: 34px;
}
.login-form {
  width: 100%;
}
.login-form .login-text-input {
  height: 54px;
  width: 100%;
  margin-bottom: 14px;
  padding-left: 14px;
  background-color: color(dark);
  border: 1px solid color(textPrimary);
  font-size: 18px;
}
.login-form input::placeholder {
  color: color(textDark);
  font-size: 18px;
}
.forgot-password {
  margin-bottom: 35px;
}
.login-bottom-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
