@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../../fonts/DM_Sans/DMSans-Regular.ttf") format("ttf");
}

$colors: (
  primary: #162229,
  dark: #080b11,
  textPrimary: #9ba8b8,
  textLight: #bcd2e8,
  textDark: #656b72,
  menuPrimary: #3c5766,
  buttonPrimary: #2f5f5c,
  oldDanger: #972121,
  danger: #ac1a21,
  dangerBright: #e42933,
  success: #2d6a2d,
  chatMessagePrivate: pink,
  warning: rgb(255, 187, 0),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$navHeight: 56px;
$minAppWidth: 370px;
$navThinBarHeight: 6px;
$mobileNavWidth: 786px;
$navTinyWidth: 450px;
