@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../../fonts/DM_Sans/DMSans-Regular.ttf") format("ttf");
}

$colors: (
  backgroundColor: #162229,
  dark: #080b11,
  textPrimary: #9ba8b8,
  textFaded: #656b72,
  textBright: #bcd2e8,
  menuPrimary: #3c5766,
  buttonPrimary: #2f5f5c,
  oldDanger: #972121,
  danger: #ac1a21,
  dangerBright: #e42933,
  success: #2d6a2d,
  chatMessagePrivate: pink,
  warning: rgb(255, 187, 0),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$spacings: (
  // 10px
  1: 0.625rem,
  // 15px
  2: 0.938rem,
  // 20px
  3: 1.25rem,
  // 25px
  4: 1.563rem,
  // 65px
  5: 4.0625rem
);

@function spacing($spacing-name) {
  @return map-get($spacings, $spacing-name);
}

$fontSizes: (
  0: 0.8rem,
  // 14px
  1: 0.875rem,
  // 16px
  2: 1rem,
  // 20px
  3: 1.25rem,
  // 25px
  4: 1.5625rem,
);

@function fontSize($fontSize-name) {
  @return map-get($fontSizes, $fontSize-name);
}
$heights: (
  // 20px
  1: 1.25rem,
  // 25px
  2: 1.5625rem,
  // 40px
  3: 2.5rem,
  // 70px
  4: 4.375rem
);

@function height($height-name) {
  @return map-get($heights, $height-name);
}
$widths: (
  // 125px
  1: 7.834375rem,
  // 203px
  2: 12.6875rem,
  // 328px
  3: 20.5rem,
  // 531px
  4: 33.1875rem
);

@function width($width-name) {
  @return map-get($widths, $width-name);
}

$baseAppWidth: 1440px;
$baseAppHeight: calc(1024px - height(3));
