@import "../../styles/abstracts/variables";

.settings-page__content {
  padding: spacing(3);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}

.settings-page__options {
  list-style: none;
  li {
    margin-bottom: spacing(3);
  }
}
