@import "../abstracts/variables";

.elo-animate-win {
  animation: win-text-animation 3s ease-in-out forwards;
}
.elo-animate-loss {
  animation: loss-text-animation 3s ease-in-out forwards;
}

// .alert-animate {
//   margin-left: 100px;
//   opacity: 1;
//   transition: 0.3s;
// }

@keyframes win-text-animation {
  0% {
    color: color(textPrimary);
  }
  50% {
    color: color(success);
  }
  100% {
    color: color(textPrimary);
  }
}
@keyframes loss-text-animation {
  0% {
    color: color(textPrimary);
  }
  50% {
    color: color(danger);
  }
  100% {
    color: color(textPrimary);
  }
}
