@import "../../../styles/abstracts/_variables";

.context-menu {
  position: absolute;
  z-index: 1;
  border: 1px solid color(textPrimary);
  background-color: color(primary);
}

.context-menu-item {
  border-bottom: 1px solid color(textPrimary);
  &:last-child {
    border-bottom: none;
  }
  display: block;
}

.context-menu-button {
  padding: 10px;
  background-color: color(primary);
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  &:hover {
    background-color: color(dark);
  }
}
