@import "../../../styles/abstracts/variables";

.auth-page {
  width: 100%;
  background-color: color(dark);
  max-width: calc(width(4) - height(4));
  margin: 0 auto;
  margin-top: spacing(5);
  border: 1px solid color(textPrimary);
  padding: spacing(5);
  padding-bottom: spacing(6);
}
.auth-page__website-name,
.auth-page__page-title {
  text-align: center;
}
.auth-page__website-name {
  color: color(textPrimary);
  font-size: fontSize(4);
  margin-bottom: spacing(2);
}
.auth-page__page-title {
  font-size: fontSize(4);
  font-weight: lighter;
  margin-bottom: spacing(2);
  margin-bottom: 34px;
}
.auth-page__form {
  width: 100%;
}

.forgot-password {
  margin-bottom: 35px;
}
.auth-bottom-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
