@import "../../../styles/abstracts/variables";

.input-label {
  margin-bottom: spacing(1);
}

.input-label--red-text {
  color: color(dangerBright);
}

.input--red-border {
  border: 1px solid color(dangerBright);
}
