@import "../../../styles/abstracts/variables";

.labeled-input__label {
  padding-bottom: spacing(1);
}

.labeled-input__label--red-text {
  color: color(dangerBright);
}

.labeled-input--red-border {
  border: 1px solid color(dangerBright);
}
