@import "../abstracts/variables";

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: color(backgroundColor);
  border-left: 1px solid color(textPrimary);
  border-bottom: 1px solid color(textPrimary);
}
::-webkit-scrollbar-thumb {
  border: 1px solid color(textPrimary);
  background: color(textPrimary);
}
::-webkit-scrollbar-thumb:hover {
  background: color(textPrimary);
}

@supports (scrollbar-color: color(textPrimary) color(backgroundColor)) {
  * {
    scrollbar-color: color(textPrimary) color(backgroundColor);
    scrollbar-width: auto;
  }
}
