@import "../abstracts/variables";
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../../fonts/DM_Sans/DMSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "VT323";
  src: local("VT323"), url("../../fonts/VT323/VT323-Regular.ttf") format("ttf");
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  // font-family: "VT323";
  font-family: "DM Sans";
  // letter-spacing: 0.05ch;
  color: color(textPrimary);
}

body {
  background-color: color(backgroundColor);
}

.screenreader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: color(textPrimary);
  -webkit-box-shadow: 0 0 0px 1000px color(dark) inset;
  transition: background-color 5000s ease-in-out 0s;
}
