@import "../abstracts/variables";
// @import url("https://fonts.googleapis.com/css?family=DM+Sans|IBM+Plex+Sans+Condensed|Nunito+Sans|Public+Sans&display=swap");
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("../../fonts/DM_Sans/DMSans-Regular.ttf") format("ttf");
}
// IBM Plex Sans Condensed
// Public Sans
// DM Sans
// Nunito Sans
.nav {
  height: $navHeight;
  width: 100%;
  background-color: color(primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  @media (max-width: $navTinyWidth) {
    padding: 5px 10px;
  }
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav-tab-thin-bar {
  height: $navThinBarHeight;
  width: 100%;
  min-width: $minAppWidth;
  background-color: color(menuPrimary);
  position: absolute;
  top: $navHeight;
}
.nav-right-holder {
  height: 56px;
  display: flex;
  align-items: center;
}
.logo-img {
  display: block;
  width: 36px;
  height: 28px;
  margin-right: 10px;
}
.brand-text {
  font-family: "Nunito Sans";
  margin-right: 64px;
  @media (max-width: $mobileNavWidth) {
    display: none;
  }
}
.nav-tabs {
  height: 56px;
  display: flex;
  align-items: flex-end;
}
.nav-tab {
  width: 133px;
  height: 46px;
  color: color(textPrimary);
  background-color: color(dark);
  font-size: 18px;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $mobileNavWidth) {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.tab-active {
  background-color: color(menuPrimary);
}
.tab-title-text {
  @media (max-width: $navTinyWidth) {
    display: none;
  }
}

.menu-icon-svg {
  fill: color(buttonPrimary);
  margin-right: 10px;
  height: 23px;
  width: 23px;
}
.tab-icon-svg {
  fill: color(textPrimary);
  margin: 0 auto;
  height: 70%;
  width: auto;
  @media (min-width: 450px) {
    display: none;
  }
}

// mobile
.nav-logo-mobile {
  align-self: center;
}
