@import "../../../../styles/abstracts/variables";

.game-config-display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.game-config-display__options--overflow-padding {
  padding-right: spacing(2);
}

.game-config-display__options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: spacing(1);
}

.game-config-display__option-column {
  margin-right: spacing(1);
  &:last-child {
    margin-right: spacing(1);
  }
}

.game-config-display__radio-input {
  margin-bottom: spacing(2);
}
.game-config-display__bottom-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.game-config-display__reset-to-defaults-button {
  max-width: fit-content;
  min-height: height(3);
  margin-right: spacing(1);
}
