@import "../../../styles/abstracts/variables";

.select-dropdown {
  position: relative;
  height: fit-content;
  width: fit-content;
  border-top: 1px solid var(--color-primary);
}
.select-dropdown__options-container {
  display: flex;
  flex-direction: column;
  //   border: 1px solid var(--color-primary);
  border-top: none;
  position: absolute;
  z-index: 2;
  height: height(3);
  max-height: height(3);
}
.select-dropdown__option-button {
  height: calc(height(3) - 1px);
  min-height: calc(height(3) - 1px);
  width: width(1);
  cursor: pointer;
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-size: fontSize(2);
  border: 0px;
  border-left: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}
.select-dropdown__option-button--selected {
  background-color: var(--color-accent);
}
