@import "../../../styles/abstracts/variables";

.chat {
  padding: spacing(2);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.chat__message-stream {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: scroll;
  word-wrap: break-word;
  list-style: none;
  padding-right: spacing(1); // space for the scrollbar
  margin-bottom: spacing(2);
}

.chat__input {
  height: height(3);
  border: 1px solid color(textPrimary);
  background-color: transparent;
  padding-left: spacing(2);
  width: 100%;
  font-size: fontSize(2);
  &::placeholder {
    color: color(textFaded);
  }
}

.chat__message {
  font-size: fontSize(2);
}

.chat__message--private {
  color: color(chatMessagePrivate);
}

.chat__message--error {
  color: color(dangerBright);
}

.chat__message--warning {
  color: color(warning);
}
