@import "../../../styles/abstracts/variables";

.game-lobby-chat-stream.chat-stream-top-border {
  border-top: 1px solid white;
}
.game-lobby-chat-stream {
  // height: 100%;
  padding: 10px 10px 0px 10px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  border-right: 1px solid color(textPrimary);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.game-lobby-chat-input-holder {
  // border-top: 1px solid color(textPrimary);
  position: relative;
  border-right: 1px solid color(textPrimary);
  padding: 10px;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.chat-message-private {
  color: color(chatMessagePrivate);
}

.chat-message-error {
  color: color(dangerBright);
}

.chat-message-warning {
  color: color(warning);
}
