@import "../../../styles/abstracts/variables";

.circle {
  display: flex;
  position: absolute;
  //   border: 1px solid color(textLight);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%) rotate(270deg);
  right: 20px;
  fill: none;
  stroke: color(textPrimary);
}

.circle-animate {
  animation: rotate 3s ease-in-out forwards infinite;
}

@keyframes rotate {
  50% {
    transform: translateY(-50%) rotate(-360deg);
  }
  100% {
    transform: translateY(-50%) rotate(-720deg);
  }
}
