@import "../../../styles/abstracts/variables";

.loading-spinner {
  border-radius: 50%;
  height: height(3);
  width: height(3);
  border-right: 2px solid transparent;
  border-top: 2px solid var(--color-primary);
  border-left: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  animation: rotate 3s linear forwards infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
