@import "../../../styles/abstracts/variables";

$startingRotation: 270deg;

.circular-progress {
  border-radius: 50%;
  transform: rotate($startingRotation);
  fill: none;
  stroke: color(textPrimary);
  // width: 100%;
  height: 100%;
}

.circular-progress--animate {
  animation: rotate 3s linear forwards infinite;
}

@keyframes rotate {
  0% {
    transform: rotate($startingRotation);
  }
  100% {
    transform: rotate(360deg + $startingRotation);
  }
}
