@import "../../styles/abstracts/variables";

.ready-icon {
  height: 16px;
  width: 16px;
  fill: color(textLight);
  margin-right: 10px;
}

.ready-icon-holder {
  padding-left: 10px;
}

.score-screen-table-cell {
  min-width: 100px;
  padding-right: 10px;
}

.current-games-with-refresh-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid color(textPrimary);
}
.current-games-with-refresh-button h3 {
  margin-right: 10px;
}
.refresh-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid color(textPrimary);
  cursor: pointer;
  padding: 4px;
  &:disabled {
    opacity: 40%;
    cursor: progress;
  }
}
.refresh-icon {
  height: 100%;
  width: 100%;
  fill: color(textPrimary);
}

.game-list-table-holder {
  padding: 10px;
}
