@import "../../../styles/abstracts/variables";

.alerts-holder {
  position: fixed;
  top: 100px;
  z-index: 20;
}
.alert {
  width: fit-content;
  min-height: 46px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  line-height: 36px;
  padding: 5px 15px 5px 15px;
  font-size: 22px;
  color: color(textBright);
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
  animation: alert-animation-appear 0.3s ease-in-out forwards;
}
// .alert-animate {
//   margin-left: 100px;
//   opacity: 1;
//   transition: 0.3s;
// }

@keyframes alert-animation-appear {
  0% {
    margin-left: 0px;
    opacity: 0;
  }
  100% {
    margin-left: 100px;
    opacity: 1;
  }
}

.alert-danger {
  background-color: color(danger);
}
.alert-success {
  background-color: color(buttonPrimary);
}
.alert-icon {
  height: 16px;
  width: 16px;
  fill: color(textBright);
  margin-right: 10px;
}
